.grid {
    background: black;
    flex-basis: 100%;
    width: 100%;
    display: grid;
}

[class^=gridline] {
    background: rgb(100,100,100);
    position: absolute;
    display: none;
}

.gridline-row {
    height: 1px;
    width: 100vw;
}
.gridline-column {
    width: 1px;
    height: 100vh;
}

.grid-cell {
    grid-column-start: auto;
    grid-column-end: span 1;
    grid-row-start: auto;
    grid-row-end: span 1;
    color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    border-bottom: 1px solid rgb(30,30,30);
    border-right: 1px solid rgb(30,30,30);
    position: relative;
    cursor: pointer;
}
.grid-cell--counter {
    position: absolute;
    font-size: 12px;
    mix-blend-mode: difference;
    top: 2px;
    left: 2px;
}